@model BlogSimpleMVC.ViewModels.HomeIndexViewModel
@using PagedList.Mvc

<div class="container">
    <form asp-controller="Home" asp-action="Index" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group mb-3">
            <input asp-for="SearchString" type="text" class="form-control" placeholder="Search posts..." />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" style="padding: 0 10px 0 10px">Search</button>
            </div>
        </div>
    </form>
    <div class="row align-content-center flex-column">
        @if (!Model.Posts.Any())
        {
<p>There are no blogs posted.</p>}
        @foreach (var post in Model.Posts)
        {
<div class="col-lg-12 mb-4">
    <div class="card border-0 shadow">
        <div class="card-body">
            <div class="row text-center" style="margin: 0px auto 0px 0px;">
                <h2 class="card-title"><a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a></h2>
            </div>
            <div class="card-text text-muted" style="font-size:1rem;">@post.UpdatedOn.ToString("MMMM dd, yyyy")</div>
            <a asp-controller="Home" asp-action="Author" asp-route-authorId=@post.Author.Id class="card-text" style="font-size:1rem; cursor:pointer;">@post.Author.FirstName @post.Author.LastName</a>
            <div class="row text-center" style="margin: 0px auto 10px 0px;">
                <p class="card-text">@post.Description</p>
            </div>
        </div>
    </div>
</div>}
    </div>
    <div list="@Model.Posts" count="20">
        <pager class="pager-container" list="@Model.Posts" options="@PagedListRenderOptions.TwitterBootstrapPager" asp-controller="Home" asp-action="Index" asp-route-query="@Model.SearchString" />
    </div>
</div>